 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://libs.cdnjs.net/font-awesome/6.5.2/css/all.css">



</head>
<body>
	<h1>Ozgarish-</h1>
	<content>
	<div style="width: 500px; height: 70px;">
	{% for sms in messages %}

	<p style="color: blue rgd(36,41,146 ); background-color: pink rgb(130, 105, 142); height: 50px;">{{sms}}</p>

	{% endfor %}

	</div></content>


	<div class="container">

		<h1>Abdullyev otabek</h1>
		<a href="{% url 'create_category' %}">Tur yaratish</a>
		<span>|</span>
		<a href="{% url 'create_user' %}">user yaratish</a>
		<span>|</span>
		<a href="{% url 'create_news' %}">📜yangilik yaratish</a>
		<span>|</span>
		<a href="{% url 'user_edit' %}" tabindex="-1" >🔎 user ni edit</a>
		<span>|</span>
		<a href="{% url 'password_edit' %}" tabindex="-1" >password edit 🔎</a>

<h4></h4>

			{% if request.user.is_authenticated %}

			<p style="color:  blek rgd(33,145,44); ">{{request.user.username}}, saytga xush kelibsiz </p>		
			<a href="{% url 'Logout' %}"> log out</a><span> | </span>
			{% else %}

			<p style="color:  blek rgd(219,82,82); ">siz  ro'yxatdon o'tmagansiz</p>
	        <a href="{% url 'login'  %}">Login</a>
		


			{% endif %}


		<content>
			<form method="get" enctype="multipartdata">
				<input type="search" name="Search">
				<button type="submit">search</button>	
			</form>

		{% for i in all_news %}

			<form method="post">
					{% csrf_token %}
			<input type="hidden" name="one" value="{{i.id}}">
					<button><i class="fa-solid fa-heart">
					{{i.likes.count}}</i></button>
					<button><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
			</form>



		<hr>
			<h1>
				<a href="{% url 'detail' i.id %}">
					{{i.title}}
				</a>
			</h1>
			{% if i.rasm %}
			<img src="{{i.rasm.url}}" alt="" style="width:  400px;">
			<hr>
			{% endif %}
			<h1> <a href="{% url 'ochirish' i.id %}" >🗑</a></h1>
			<br><br><br>
		{% endfor %}</content>

	</div>

</body>
</html>